[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/nginx_venv/bin/uwsgi -i /srv/Team11-Project-back/.config/uwsgi/mysite.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
